{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <!--Iconos de google-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CDN de Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Logo de la empresas en las pestañas-->
    <link rel="icon" type="image/png" href="{% static 'img/Logo.png' %}">
    <!-- css wquick personalizado -->
    <link rel="stylesheet" href="{% static 'css/WQuick.css' %}">
</head>

<body>
    <!-- navbar barra superior de la pagina -->
    {% include "frames/navbar.html" %}

    <!--Contenido de la página-->
    <main>
        <div class="container center">

        </div>
        <div class="row">
            <div class="col s6">
                <h4>Deja tus proyectos Tecnológico en manos de los expertos</h4>
                <h5>-Proyectos de alta calidad</h5>
                <h5>-Innovación</h5>
                <h5>-Nuevas Tecnologias</h5>
            </div>
            <div class="col s6"></div>
        </div>


       <!--comentario-->
    </main>

    <!--Espacio para el pie de página-->
    {% include "frames/footer.html" %}
</body>

</html>